<h4 class="center-align grey-text darken-2">Welcome to your class, <b>{{first_name}}</b></h4>
<div class="row">
    <div class="offset-s2 col s8">
        <a href="https://portal.esquare-homeschooling.com:8443/{{level}}{{section}}">
        <div class="card">
            <div class="card-image">
                <img src="../../assets//images/video.jpg">
            </div>
            <div class="card-content teal-text">
            <span class="card-title grey-text">
                Video Content
            </span>
           
           
            <p>This is your video class, click here to attend.
            </div>
        </div>
    </a>
    </div>
    </div>
    <div class="row">
    <div class="offset-s2 col s4">
        <div class="card">
            <div class="card-image">
                <img src="../../assets//images/study.jpg">
            </div>
            <div class="card-content teal-text">
            <span class="card-title grey-text">
                Study Materials
            </span>
            <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="../../assets//images/homework.jpg">
            </div>
            <div class="card-content teal-text">
            <span class="card-title grey-text">
                Home works
            </span>
            <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
    </div>

