<h4 class="center-align grey-text darken-2">Start your class here</h4>
<div class="row">
  <div class="offset-s2 col s8">
    <div *ngIf="section.length != 0; else NoSection">
      <a
        href="{{classJoinLink}}"
      >
        <div class="card">
          <div class="card-image">
            <img src="../../assets//images/video.jpg" />
          </div>
          <div class="card-content teal-text">
            <span class="card-title grey-text">
              {{ first_name }}, Your Students Are Here
            </span>

            <p>Click here to start class</p>
          </div>
        </div>
      </a>
    </div>
    <ng-template #NoSection>
      <h4 class="">You have not been approved for any classes yet.</h4>
    </ng-template>
  </div>
</div>
